@media only screen and (min-width: 600px) {

    body {
        background-color: #545454;
        font-family: "Poppins", sans-serif;
        font-weight: 300
    }
    
    .nombre-david-leal{
        
    }
    
    .profile-images{
        
    }
    
    .photo-header-max{
        
    }
    
    .profile-picture-david{
        width: 35vmax;
        margin-top: 20%;
        margin-left: 2em;
    }

    .text-presentation{
        margin-top: 25%;
    }

}
