@media only screen and (min-width: 600px) {

    body {
        background-color: #545454;
        font-family: "Poppins", sans-serif;
        font-weight: 300
    }
    
    /*.nombre-david-leal{
        
    }

    
    .photo-header-max{
        
    }*/
    
    .profile-picture-david{
        width: 35vmax;
        margin-top: 10%;
        margin-left: 2em;
    }

    .text-presentation{
        margin-top: 23%;
        margin-left: 10%;
    }

    .margin-box-information{
        margin-left: 10%;
        margin-right: 10%;
    }

    .footer-website-cv{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 10%;
    }

}
