@media only screen and (max-width: 600px) {

    .content-profile-picture img{
        display: flexbox;
        align-items: center;
    }

    .profile-picture-david{
        width: 35%;
        margin-top: 15%;
        margin-left: 35%;
    }

    .text-presentation{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20%;
    }

    .footer-website-cv{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 5%;
        margin-bottom: 10%;
    }
}

